@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "doggy";
  src: url("/src/assets/fonts/Hoover-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  margin: 0;
  min-height: 100vh;
}
